<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteMessage</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bf9bbf">  <td>16/06/28 14:58:49</td>   <td>0</td> <td title="&gt;&gt;SuiteMessageBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteMessage.SuiteMessageCaseSendMessage@55d56113]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>16/06/28 14:58:49</td>   <td>306</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteMessageCaseSendMessage.checkCaseToRun()[pri:0, instance:com.stta.SuiteMessage.SuiteMessageCaseSendMessage@55d56113]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>16/06/28 14:58:49</td>   <td>412</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteMessageCaseSendMessage.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteMessage.SuiteMessageCaseSendMessage@55d56113]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>16/06/28 15:00:19</td>   <td>89629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteMessageCaseSendMessage.reporterDataResults()[pri:0, instance:com.stta.SuiteMessage.SuiteMessageCaseSendMessage@55d56113]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="bfbc86">  <td>16/06/28 15:00:19</td>   <td>89635</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteMessageCaseSendMessage.closeBrowser()[pri:0, instance:com.stta.SuiteMessage.SuiteMessageCaseSendMessage@55d56113]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
