<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteAccount</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="60df86">  <td>16/06/28 14:56:43</td>   <td>0</td> <td title="&gt;&gt;SuiteAccountBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseLogout@5649fd9b]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>16/06/28 14:56:43</td>   <td>145</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteAccountCaseReset.checkCaseToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseReset@402a079c]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>16/06/28 14:56:44</td>   <td>234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteAccountCaseReset.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseReset@402a079c]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>16/06/28 14:57:12</td>   <td>28410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseReset.reporterDataResults()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseReset@402a079c]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>16/06/28 14:57:12</td>   <td>28415</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseReset.closeBrowser()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseReset@402a079c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>16/06/28 14:57:12</td>   <td>28440</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteAccountCaseModify.checkCaseToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@6fd02e5]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>16/06/28 14:57:12</td>   <td>28467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteAccountCaseModify.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@6fd02e5]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>16/06/28 14:57:40</td>   <td>56941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseModify.reporterDataResults()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@6fd02e5]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>16/06/28 14:57:40</td>   <td>56946</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseModify.closeBrowser()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@6fd02e5]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>16/06/28 14:57:40</td>   <td>56977</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteAccountCaseModifyPwd.checkCaseToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModifyPwd@56ac3a89]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>16/06/28 14:57:40</td>   <td>56992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteAccountCaseModifyPwd.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModifyPwd@56ac3a89]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>16/06/28 14:58:09</td>   <td>86099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseModifyPwd.reporterDataResults()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModifyPwd@56ac3a89]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>16/06/28 14:58:09</td>   <td>86108</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseModifyPwd.closeBrowser()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModifyPwd@56ac3a89]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>16/06/28 14:58:09</td>   <td>86133</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteAccountCaseValidation.checkCaseToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseValidation@25bbe1b6]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>16/06/28 14:58:10</td>   <td>86393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteAccountCaseValidation.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseValidation@25bbe1b6]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>16/06/28 14:58:38</td>   <td>114601</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseValidation@25bbe1b6]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="cb64ae">  <td>16/06/28 14:58:38</td>   <td>114604</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseValidation.closeBrowser()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseValidation@25bbe1b6]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>16/06/28 14:58:38</td>   <td>114629</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteAccountCaseLogout.checkCaseToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseLogout@5649fd9b]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>16/06/28 14:58:38</td>   <td>114692</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteAccountCaseLogout.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseLogout@5649fd9b]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>16/06/28 14:58:49</td>   <td>125701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseLogout.reporterDataResults()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseLogout@5649fd9b]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="ca907e">  <td>16/06/28 14:58:49</td>   <td>125706</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseLogout.closeBrowser()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseLogout@5649fd9b]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
