<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f8966d">  <td>16/06/27 22:10:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteAccountCaseModify.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@68c4039c]">SuiteRegistrationCaseRegTest</td> 
  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>16/06/27 22:10:00</td>   <td>-25</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteAccountCaseModify.checkCaseToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@68c4039c]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="74b285">  <td>16/06/27 22:10:00</td>   <td>-351</td> <td title="&gt;&gt;SuiteAccountBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@68c4039c]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>16/06/27 22:10:16</td>   <td>15976</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseModify.closeBrowser()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@68c4039c]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
<tr bgcolor="f8966d">  <td>16/06/27 22:10:16</td>   <td>15966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteAccountCaseModify.reporterDataResults()[pri:0, instance:com.stta.SuiteAccount.SuiteAccountCaseModify@68c4039c]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@1860944798</td>   <td></td> </tr>
</table>
