<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteRegistration</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a18c79">  <td>16/06/28 14:55:40</td>   <td>0</td> <td title="&gt;&gt;SuiteRegistrationBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:41</td>   <td>825</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteRegistrationCaseReg.checkCaseToRun()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:41</td>   <td>894</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseReg.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:52</td>   <td>11955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseReg.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:52</td>   <td>11965</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseReg.closeBrowser()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:55:52</td>   <td>12121</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteRegistrationCaseValidation.checkCaseToRun()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:55:52</td>   <td>12161</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:03</td>   <td>22923</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:03</td>   <td>22930</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:05</td>   <td>24312</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:05</td>   <td>24321</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:06</td>   <td>25496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:06</td>   <td>25513</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:07</td>   <td>26688</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:07</td>   <td>26706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:09</td>   <td>28549</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:09</td>   <td>28555</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:10</td>   <td>29700</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:10</td>   <td>29706</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:11</td>   <td>30945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:11</td>   <td>30951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:12</td>   <td>32032</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:12</td>   <td>32039</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:13</td>   <td>33073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:13</td>   <td>33077</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:14</td>   <td>34179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:14</td>   <td>34196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:16</td>   <td>35999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:16</td>   <td>36004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:18</td>   <td>38104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:18</td>   <td>38110</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.closeBrowser()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
