<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteRegistration</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:41</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseReg.SuiteRegistrationCaseRegTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">SuiteRegistrationCaseRegTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:55:52</td>   <td>11267</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:03</td>   <td>22036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:05</td>   <td>23427</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:06</td>   <td>24619</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:07</td>   <td>25812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:09</td>   <td>27661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:10</td>   <td>28812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:11</td>   <td>30057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:12</td>   <td>31145</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:13</td>   <td>32183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:14</td>   <td>33302</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:16</td>   <td>35110</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteRegistrationCaseValidation.SuiteRegistrationCaseValidationTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">SuiteRegistrationCaseValidationTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:41</td>   <td>-69</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteRegistrationCaseReg.checkCaseToRun()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:55:52</td>   <td>11227</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteRegistrationCaseValidation.checkCaseToRun()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a18c79">  <td>16/06/28 14:55:40</td>   <td>-894</td> <td title="&gt;&gt;SuiteRegistrationBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:52</td>   <td>11071</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseReg.closeBrowser()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:18</td>   <td>37216</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.closeBrowser()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="7e7986">  <td>16/06/28 14:55:52</td>   <td>11061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseReg.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseReg@47c62251]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:03</td>   <td>22029</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:05</td>   <td>23418</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:06</td>   <td>24602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:07</td>   <td>25794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:09</td>   <td>27655</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:10</td>   <td>28806</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:11</td>   <td>30051</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:12</td>   <td>31138</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:13</td>   <td>32179</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:14</td>   <td>33285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:16</td>   <td>35105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="a2a371">  <td>16/06/28 14:56:18</td>   <td>37210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteRegistrationCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteRegistration.SuiteRegistrationCaseValidation@548e7350]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
