<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SuiteLogin</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fa9a9d">  <td>16/06/28 14:56:18</td>   <td>0</td> <td title="&gt;&gt;SuiteLoginBase.checkSuiteToRun()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">&gt;&gt;checkSuiteToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>16/06/28 14:56:19</td>   <td>273</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteLoginCaseValidation.checkCaseToRun()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseValidation@6eebc39e]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>16/06/28 14:56:19</td>   <td>304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteLoginCaseValidation.SuiteLoginCaseTwoTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseValidation@6eebc39e]">SuiteLoginCaseTwoTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>16/06/28 14:56:30</td>   <td>11937</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteLoginCaseValidation.reporterDataResults()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseValidation@6eebc39e]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="6ba0ac">  <td>16/06/28 14:56:30</td>   <td>11941</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteLoginCaseValidation.closeBrowser()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseValidation@6eebc39e]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:31</td>   <td>12141</td> <td>&nbsp;</td><td title="&gt;&gt;SuiteLoginCaseLogin.checkCaseToRun()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">&gt;&gt;checkCaseToRun</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:31</td>   <td>12186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteLoginCaseLogin.suiteLoginCaseLoginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">suiteLoginCaseLoginTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:42</td>   <td>23201</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteLoginCaseLogin.reporterDataResults()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:42</td>   <td>23211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteLoginCaseLogin.suiteLoginCaseLoginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">suiteLoginCaseLoginTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:42</td>   <td>23977</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteLoginCaseLogin.reporterDataResults()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:42</td>   <td>23987</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuiteLoginCaseLogin.suiteLoginCaseLoginTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">suiteLoginCaseLoginTest</td> 
  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:43</td>   <td>24812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SuiteLoginCaseLogin.reporterDataResults()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">&lt;&lt;reporterDataResults</td> 
<td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
<tr bgcolor="8067a5">  <td>16/06/28 14:56:43</td>   <td>24818</td> <td>&nbsp;</td><td title="&lt;&lt;SuiteLoginCaseLogin.closeBrowser()[pri:0, instance:com.stta.SuiteLogin.SuiteLoginCaseLogin@3c0ecd4b]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2025864991</td>   <td></td> </tr>
</table>
